<div class="container">

  <div class="banner" style="background-image: url('<%= asset_path("popcorn.avif") %>');">
    <div class="container">
      <h1>Movie lists for your friends and more!</h1>
      <p>Add movies and comment your thoughts.</p>
    </div>
  </div>

  <ul class="card-grid">
    <% @lists.each do |l| %>
      <li>
        <div class="card">
          <% if l.photo.attached? %>
            <%= cl_image_tag l.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-info">
            <%= link_to "#{l.name}", list_path(l[:id]), class: "list-link" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Create a new list <3', new_list_path, class: "new-list-button" %>
  <button type="button" id="chat-open-button">Open Chat</button>
  <%= render "shared/chatbox" %>
</div>
